@import "compass/css3";
@import "defaults.scss";

body#admin-login {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

body#admin-page {
  #admin-menu {
    margin-left: 14px;
    
    #admin-calendar {
      display: table;
      width: 840px;
      margin-top: 36px;
      background-image: url('../img/main/loading.gif');
      background-repeat: no-repeat;
      background-position: center;

      #prev-month, #next-month {
        display: table-cell;
        vertical-align: middle;
        height: 110px;
      }
      
      #next-month {
        position: relative;
        z-index: 2;
      }
      
      #arrow-left, #arrow-right {
        height: 59px;
        width: 56px;
        background-color: white;
        @include shadow-custom(#CCCCCC);
      }
      
      #table-wrapper {
        vertical-align: text-bottom;
        @include border-radius($rad);
        display: inline-block;
      }
      
      #arrow-left {
        border: 1px solid black;
        border-right: 0;
        @include border-radius($rad 0 0 $rad);
      }
      
      #arrow-right {
        border: 1px solid black;
        border-left: 0;
        @include border-radius(0 $rad $rad 0);
      }
      
      #head-timestamp {
        display: none;
      }
      
      table {
        background-color: white;
        display: table-cell;
        vertical-align: bottom;
        @include border-radius($rad);
        margin: 0;
        padding: 0;
        @include shadow-custom(#CCCCCC);
      }
      
      td, th {
        height: 36px;
        width: 92px;
        text-align: center;
        border-top: 1px solid black;
        border-left: 1px solid black;
        font-weight: normal;
        font-size: 1.1em;
        background-color: white;
      }
      
      td.reserved-cell, td.reserved-cell-at, td.reserved-cell-kp {
        width: 91px;
        height: 36px;
        background-size: 91px 36px;
      }

      td.reserved-cell {
        background-image: url('../img/main/reserved.png');
      }
      
      td.reserved-cell-at {
        background-image: url('../img/main/reserved_at.png');
      }
      
      td.reserved-cell-kp {
        background-image: url('../img/main/reserved_kp.png');
      }
      
      td.timebox {
        font-size: 0;
      }
      
      td.timebox-passed {
        background-color: #636363;
      }
      
      th:last-child, td:last-child {
        border-right: 1px solid black;
      }
      
      tr:last-child td {
        border-bottom: 1px solid black;
      }
      
      th:first-child, th:first-child * {
        border-radius: $rad 0 0 0;
      }

      th:last-child {
        border-radius: 0 $rad 0 0;
      }

      tr:last-child td:first-child {
        border-radius: 0 0 0 $rad;
      }
      
      tr:last-child td:last-child {
        border-radius: 0 0 $rad 0;
      }
      
      #calendar-label {
        font-size: 0.8em;
        z-index: 1;
        position: relative;
        top: 10px;
        height: 0px;
        margin: -30px 0;
      }
      
      #blank-cell {
        width: 90%;
        height: 90%;
        margin-top: -30px;
        color: white;
        opacity: 0;
        z-index: 2;
        position: relative;
        vertical-align: middle;
      }
    }
  }

  .td-passed {
    font-style: italic;
    color: lightsteelblue;
    text-decoration: line-through;
  }

  .input-no-padding {
    padding-left: 0;
  }

  .ui-menu-item *, .ui-menu-item *:hover, .ui-state-focus:hover {
    border: none;
    background: none !important;
  }

  .ui-menu-item *:hover, .ui-state-focus:hover {
    color: #428bca;
  }
}
