body {
	font-family: 'Source Sans Pro', arial, verdana;
}

$rad: 4px;

@mixin shadow-custom($color) {
		 -moz-box-shadow: 8px 8px 15px $color;
	-webkit-box-shadow: 8px 8px 15px $color;
					box-shadow: 8px 8px 15px $color;
}

#ui-datepicker-div {
	margin-left: 10px;
	@include shadow-custom(#222);
}

table.ui-datepicker-calendar td {
	padding-right: 12px;
}